
#content_sequence{

	height: 450px;
	max-height: 450px;
	overflow-y: auto;

}

.content_sequence_wrapper{
	background-color: rgba(226,240,214,0.7);
	width: 700px;
	padding: 10px 20px;
	text-align: center;
	margin: auto;

	border-radius: 4px;

}

#input_buttons{
	margin-top: 20px;
	text-align: center;
}

#sequence_input{
	width: 100%;
}

.valve_button{
	cursor: pointer;
	text-align: center;
	width: 60px;
	height: 60px;
	margin: 20px auto;
	border: #979797 solid 1px;
	background-color: rgba(216,216,216,0.75);
	border-radius: 6px;
	display: inline-block;
}

.valve_selected{
	background-color: rgba(74,144,226,.5)!important;
}

.row_label{
text-align: center;
padding: auto;

}

.column_label{
	
}

.frame_length{
	width: 50px;
	height: 40px;
	font-size: 20px;
	text-align: center;
}

.submit_section{
	margin-top: 20px;
}

.sequence_name_input{
	width: 250px;
	height: 40px;
	font-size: 18px;
	margin-right: 20px;
	border-radius: 3px;
	padding-left: 4px;
	vertical-align: top;
}