.preview_content{
	background-color: rgba(226,240,214,0.7);

	text-align: center;
	margin: auto;
	margin-top: 20px;
	border-radius: 4px;


	padding: 10px 0;

	width: 700px;
	height: 250px;
}

.preview_overlay{
	position: absolute;
	width: 60px;
	height: 200px;
	background-color: blue;
	border-radius: 6px;
}

.stream_preview{
	cursor: pointer;
	text-align: center;
	width: 60px;
	height: 200px;
	margin: 20px auto;
	/*border: #979797 solid 1px;*/
	background-color: rgba(155,155,155,0);
	border-radius: 6px;
	display: inline-block;
}

