<html>
    <head>
        <title>Blinkers</title>
        <style>
            input[type=number] {
                width: 3em;
            }
        </style>
    </head>
    <body>
        <p>GPIO: <input type="number" min="1" max="26" value="17" /> <button id="numberButton">Blink!</button><span></span></p>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script type="text/javascript" src="/javascript/blinker.js"></script>
    </body>
</html>