<!-- <!DOCTYPE html> -->
<html>
<head>
  <title>WCP18 Dancing Fountain</title>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
  <link rel="stylesheet" type="text/css" href="../CSS/style.css">
  <link rel="stylesheet" type="text/css" href="../CSS/new_sequence.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
  <script type="text/javascript" src="../Javascript/new_sequence.js"></script>


</head>

<body>

	<div id="header" class="header_text">
		Dancing Fountain Prototype
	</div>

		<div id="content_sequence">

			<table id="sequence_input">
				<tr>
					<th></th>

					{{#nozzle_header}}
    					<th class="column_label body">
    						{{nozzle_name}}
    					</th>
    				{{/nozzle_header}}
  				</tr>

  				{{#nozzle_rows}}
    				<tr id="{{row_name}}" class="row">
    					<td class="row_label body">
    						{{row_name}}
    					</td>

    					{{#valve_columns}}
    					<td>
    						<div id="{{row_id}}_{{valve_id}}"class="valve_button">
    						</div>
    					</td>
    					{{/valve_columns}}

    				</tr>
				{{/nozzle_rows}}

			</table>
		


		</div>

		<div id="input_buttons">
			<a class="button body" href="/Home">Back</a>

			<div class="button body" id="submit">Submit</div>

			<div class="button body" id="add_more_rows">Add More Rows</div>
		</div>




	<div id="footer">
		<div id="school_logo">
			<img id="BU_logo" class="image" src="../Images/last_hackbu.png"/>
		</div>

		<div id="team_info" class="sub_header">
			WCP18<br>Isaac Patka<br>
			Priscilla Li<br>Vivian Mo<br>
			Mehdi Lamkies
		</div>

	</div>

</body>

</html>