<!-- <!DOCTYPE html> -->
<html>
<head>
  <title>WCP18 Dancing Fountain</title>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
  <link rel="stylesheet" type="text/css" href="../CSS/style.css">
  <link rel="stylesheet" type="text/css" href="../CSS/setup.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
  <script type="text/javascript" src="../external_libraries/sweetalert-master/lib/sweet-alert.js"></script>

   <link rel="stylesheet" type="text/css" href="../external_libraries/sweetalert-master/lib/sweet-alert.css">

  	<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.3/themes/smoothness/jquery-ui.css" />
	<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.3/jquery-ui.min.js"></script>

  <script type="text/javascript" src="../Javascript/setup.js"></script>

</head>

<body>

	<div id="header" class="header_text">
		Dancing Fountain Prototype
	</div>

	<div id="content_setup">

		<div class="sub_header" id="config_text">Fountain Configuration & Maintenance
			</div>

		<div class="button_row">



			<div class="button_icon" id="start_execution">
				<img src="../Images/play.svg" class="icon_big">
				<div class="icon_text">Start Execution</div>
			</div>
			<div class="button_icon" id="stop_execution">
				<img src="../Images/close-circle.svg" class="icon_big">
				<div class="icon_text">Stop Execution</div>
			</div>
		</div>

		<div class="button_row">



			<div class="button_icon" id="start_webcam">
				<img src="../Images/play.svg" class="icon_big">
				<div class="icon_text">Start Webcam</div>
			</div>
			<div class="button_icon" id="stop_webcam">
				<img src="../Images/close-circle.svg" class="icon_big">
				<div class="icon_text">Stop Webcam</div>
			</div>
		</div>

		<div class="button_row">

			<div class="button_icon maintenance_sequence" id="nozzle_1">
				<img src="../Images/up-arrow.svg" class="icon_big">
				<div class="icon_text">Nozzle 1</div>
			</div>

			<div class="button_icon maintenance_sequence" id="nozzle_2">
				<img src="../Images/up-arrow.svg" class="icon_big">
				<div class="icon_text">Nozzle 2</div>
			</div>
			
			<div class="button_icon maintenance_sequence" id="nozzle_3">
				<img src="../Images/up-arrow.svg" class="icon_big">
				<div class="icon_text">Nozzle 3</div>
			</div>
			
			<div class="button_icon maintenance_sequence" id="nozzle_4">
				<img src="../Images/up-arrow.svg" class="icon_big">
				<div class="icon_text">Nozzle 4</div>
			</div>
			
			<div class="button_icon maintenance_sequence" id="nozzle_5">
				<img src="../Images/up-arrow.svg" class="icon_big">
				<div class="icon_text">Nozzle 5</div>
			</div>
			
			<div class="button_icon maintenance_sequence" id="nozzle_6">
				<img src="../Images/up-arrow.svg" class="icon_big">
				<div class="icon_text">Nozzle 6</div>
			</div>
			
			<div class="button_icon maintenance_sequence" id="nozzle_7">
				<img src="../Images/up-arrow.svg" class="icon_big">
				<div class="icon_text">Nozzle 7</div>
			</div>
			
			<div class="button_icon maintenance_sequence" id="nozzle_8">
				<img src="../Images/up-arrow.svg" class="icon_big">
				<div class="icon_text">Nozzle 8</div>
			</div>
		</div>

		<div class="button_row">
			<div class="button_icon maintenance_sequence" id="All_Nozzles">
				<img src="../Images/up-arrow.svg" class="icon_big">
				<div class="icon_text">All Nozzles</div>
			</div>

			<div class="button_icon maintenance_sequence" id="All_Nozzles_Height_Test">
				<img src="../Images/up-arrow.svg" class="icon_big">
				<div class="icon_text">All Nozzles Height Test</div>
			</div>

		</div>
				


	</div>



		

	<div class="footer">
		<a id="school_logo" href="/Home">
			<img id="BU_logo" class="image" src="../Images/last_hackbu.png"/>
		</a>

		<div id="team_info" class="sub_header">
			WCP18<br>Isaac Patka<br>
			Priscilla Li<br>Vivian Mo<br>
			Mehdi Lamkies
		</div>

	</div>

</body>

</html>
