<!-- <!DOCTYPE html> -->
<html>
<head>
  <title>WCP18 Dancing Fountain Live Feed</title>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
  <link rel="stylesheet" type="text/css" href="../CSS/webcam.css">
  <link rel="stylesheet" type="text/css" href="../CSS/style.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
  <script type="text/javascript" src="../Javascript/blinker.js"></script>
  <script type="text/javascript" src="../Javascript/webcam.js"></script>

  <script type="text/javascript" src="../external_libraries/sweetalert-master/lib/sweet-alert.js"></script>

   <link rel="stylesheet" type="text/css" href="../external_libraries/sweetalert-master/lib/sweet-alert.css">

</head>

<body>

  <div id="header" class="header_text">
    Dancing Fountain Live Feed
  </div>


  <div id="livefeed_background">
    <div id="livefeed">
      <iframe class="webcam_frame" width="660" height="500" scrolling=no></iframe>
    </div>

    <div id="goBack_button">
        <a href="/Home"><img src="../Images/back.svg" width="35" height="35"/></a>
        <div class="icon_text">Back</div>
    </div>
  </div>

  <div id="footer">
    <div id="school_logo">
      <img id="BU_logo" class="image" src="../Images/last_hackbu.png"/>
    </div>

    <div id="team_info" class="sub_header">
      WCP18<br>Isaac Patka<br>
      Priscilla Li<br>Vivian Mo<br>
      Mehdi Lamkies
    </div>
  </div>

</body>

</html>